.Writereviw{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: rgb(248, 142, 76);
    gap: 30px;
}
.Writereviw h5:hover{
    color:rgb(234, 191, 164) ;
    cursor: pointer;
}
.imgesHead{
    display: flex;
    padding-left:9%;
    gap: 20px;
}
.galleryImages{
    width: 350px;
    height: 300px;
}
.menuss{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    text-decoration: none;
    }
    .mapImage{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
    }
.Footer{
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
    width: 100%;
  
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
.Footer{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
}
    

.Contact{
    width: calc(33.33% - 20px);

    /* margin-right: 0px;
    margin-bottom: 20px;
    padding-left: 80px;
    margin-left: 20px; */
    
}
.Contact p{
    padding: 0px;
    margin: 1px;
}
.conctectinfo h3 {
font-size: larger;
padding-bottom: 20px;
}
.conctectinfo button{
    background-color: rgb(248, 142, 76);
    padding: 20px 45px 20px 45px;
    color: white;
    border: none;
}
.conctectinfo p{
padding-top: 20px;
}
hr.center {
    margin: auto;
    width: 80%;
  }
  .hover:hover{
    cursor: pointer;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: -11px;
    margin: -30px;
  }
  