.sidenav {
    height: 100%;
    width:0;  
    position: fixed;
    z-index: 1;
    top: 65px;
    left: 0;
    background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
  }

  
  .sidenav-open {
    width: 380px;
  }
  
  .sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .sidenav li {
    align-items: center;
    text-align: center;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(248, 142, 76);
    display: block;
    transition: 0.3s;
  }
  .sidenav li a{
    color: rgb(248, 142, 76);
  }
  .sidenav li:hover {
    color:rgb(248, 142, 76);
  }
  
  .sidenav button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  